
#dropdownMenuButton1{
  float: right;
}
#duedate{
  width: 38rem;
}

#search{
  width: 18rem;
}

.btn-outline-success{
  margin-top: 20px;
  margin-left: 290px;
}
.col{
  flex-basis: 0;
  flex-grow: 0;
}
.container{
  padding-top: 15px;
}
.container-fluid{
  padding: 3% 15% 7%;
}

.fa-solid{
  padding-right: 10px;
}

.input-group{
  width: 38rem;
  flex-wrap: nowrap;
}
